/* include your css here */
footer {
    background-color: brown;
    height: 30px;
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    color: white;
}

header {
    background-color: brown;
    height: 30px;
    width: 100%;
    color: white;
}

.body {
    background-color: gray;
    height: 1000px;
    width: 100%;
    margin: 0 auto;
}

.us {
    background-color: brown;
    width: 100px;
    height: 100px;
}

#catie {
    float: right;
}

#sam {
    float: left;
}

.profile_img {
    height: 80px;
    width: 80px;
}

.main_div {
    clear: both;
    margin: 0 auto;
    display: table;
    width: 50%;
    text-align: center;
}

td {
    display: inline;
    padding-left: 5em;
}

.nav_bar {
    list-style-type: none;
}














