html {
	background-color: #B24700;
}

h1 {
	color: #990000;
	font-size: 40px;
	font-family: Times;
}

section {
	font-size: 26px;
	font-family: sans-serif;
	color: #2B2B2B;
	margin-left: 350px;
	margin-right: 350px;
}

#header {
	height: 300px;
	width: 1555px;
}

.me {
	height: 250px;
	width: 250px;
	display: inline-block;
}

#here {
	height:250px;
	width: 210px;
	display: inline-block;
}

a {
	color: #A60042;
}

.social {
	height: 40px;
	width: 40px;
	display: inline-block;
	position: static;
	float: left;
}

main {
	text-align: center;
}

.index {
	border: 3px solid #A60042;
}