html {
	background-color: gray;
}

h1 {
	color: #990000;
	font-size: 44px;
	font-family: Times;
}

h2 {
	color: gray;
	font-size: 26px;
	font-family: Times;
}

.index {
	border: 3px solid #A60042;
}

#me {
	width: 200px;
	height: 250px;
	position: fixed;
	margin-left: 80%;
	margin-top: 2.5%;
	border: 1px solid #261400;
}

.indextable {
	margin-top: 1%;
	color: gray;
	font-size: 28px;
	font-family: verdana;
	position: relative;
	margin-left: 20px;
}

td {
	height: 50px;
	width: 50px;
}

.center {
	text-align: center;
	margin-left: 400px;
	margin-right: 400px;
	color: #2B2B2B;
	font-size: 30px;
	font-family: sans-serif;
}

.social {
	height: 40px;
	width: 40px;
	display: inline-block;
	position: static;
	float: left;
}

/*CF7C00*/

.blogposts {
	font-family: sans-serif;
	font-size: 26px;
	color: #2B2B2B;
	width: 300px;
	height: 300px;
	margin-left: 40%;
	border: 2px solid #261400;
}

.code {
	font-family: Times;
	font-size: 26px;
	color: #2B2B2B;
}