body {
  color: white;
  background-color: black;
}

.space {
  background-color: black;
  height: 500px;
  width: 100%;
}

.catiek {
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 200px;
  /*border: 2px solid white;*/
}

.forever {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /*font-family: 'Oxygen', sans-serif;*/
  /*font-family: 'Comfortaa', cursive;*/
  font-family: 'Codystar', cursive;
  font-size: 60px;
  /*border: 2px solid white;*/
}