body {
  color: white;
  background-color: black;
}

.space {
  background-color: black;
  height: 500px;
  width: 100%;
}

.catiek {
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 12em;
  /*border: 2px solid white;*/
}

.forever {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /*font-family: 'Oxygen', sans-serif;*/
  /*font-family: 'Comfortaa', cursive;*/
  font-family: 'Codystar', cursive;
  font-size: 3em;
  /*border: 2px solid white;*/
}

.meat {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 100;
}

.developer {
  background-color: white;
  color: black;
  text-align: center;
  font-family: 'Londrina Outline', cursive;
  font-size: 3em;
}

.strip {
  background-color: white;
  color: black;
  font-weight: 300;
  width: 300px;
}

#glitter {
  background-image: url("glitterrr.jpg");
  color: black;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 35px;
  width: 400px;
  padding: 1em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.petals {
  background-image: url("falling5.gif");
  height: 60px;
  padding: 1em;
  font-family: 'Londrina Outline', cursive;
  font-size: 2em;
}

.contact {
  background-color: white;
  color: black;
  text-align: center;
  font-family: 'Londrina Outline', cursive;
  font-size: 2em;
}

.contactspace {
  background-color: black;
  height: 50px;
  width: 100%;
}

.carlton {
  text-align: center;
}

.links {
  font-size: 25px;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.links :link {
  color: white;
}

.links :active {
  color: white;
  cursor: pointer;
}

.links :visited {
  color: white;
}

#github {
  margin-left: 35%;
}

#linkedin {
  margin-left: 45%;
}

#twitter {
  margin-left: 55%;
}