
<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100|Londrina+Outline' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Codystar' rel='stylesheet' type='text/css'>

<div class="catiek">
  catie kennedy
</div>

<div class="forever">
  forever learning<%= image_tag('danglingheart', :size => "225x100") %>
</div>


<div class="space"></div>

<div>
  <%= image_tag('flowergif') %>
</div>

